@font-face {
   font-family: 'San Antonio Charros_personal_use_only';
   font-display: swap;
   src: url('file:///C:/Users/Ziemniak/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-09-12_223530/fonts/San%20Antonio%20Charros_personal_use_only/font.ttf');
}
