@font-face {
   font-family: 'IndieFlower';
   font-display: swap;
   src: url('file:///C:/Users/Ziemniak/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-09-12_223530/fonts/IndieFlower/font.ttf');
}
